In [10]:
#Task 1 -There are three different tables as given above. Please make three dataframe in python and save them as three .csv files. From Task 2 to Task 10, use the saved .csv files only.

# Import libraries
import pandas as pd
import numpy as np

In [12]:

# Define a dictionary to represent the project data with columns:
# 'ID': Unique identifier for each project or employee involved
# 'Project': Name of the project
# 'Cost': Cost associated with each project (includes some missing values represented as np.nan)
# 'Status': Status of the project (e.g., Finished, Ongoing, Failed)
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A004', 'A002', 'A003', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)
project_df.to_csv('project.csv', index=False)

In [14]:
# Define a dictionary to represent the employee data with columns:
# 'ID': Unique identifier for each employee
# 'Name': Full name of the employee
# 'Gender': Gender of the employee (e.g., 'M' for male, 'F' for female)
# 'City': City where the employee resides
# 'Age': Age of the employee

employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'New York', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)
employee_df.to_csv('employee.csv', index=False)

In [16]:
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 3, 3]
}
seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv('seniority.csv', index=False)

In [18]:
import os

# List files in the current directory
print(os.listdir())

# Verify the contents of one CSV file
with open('project.csv', 'r') as file:
    print(file.read())

['.ipynb_checkpoints', 'Assignment - Python fundamentals (1).ipynb', 'Assignment - Python fundamentals.ipynb', 'Basic Python Fundamentals - 1.ipynb', 'Basic Python Fundamentals -2 .ipynb', 'Capstone Project Python Fundamentals.ipynb', 'Conditional and control flow.ipynb', 'Data Types.ipynb', 'Day1 .ipynb', 'employee.csv', 'employees_with_o.csv', 'final.csv', 'List _ Tuple.ipynb', 'Operators.ipynb', 'project.csv', 'Reading material', 'seniority.csv', 'Set _ Dictionary.ipynb', 'total_proj_cost.csv', 'Variables.ipynb']
ID,Project,Cost,Status
A001,Project 1,1002000.0,Finished
A002,Project 2,2000000.0,Ongoing
A003,Project 3,4500000.0,Finished
A004,Project 4,5500000.0,Ongoing
A005,Project 5,,Finished
A002,Project 6,680000.0,Failed
A005,Project 7,400000.0,Finished
A003,Project 8,350000.0,Failed
A001,Project 9,,Ongoing
A003,Project 10,300000.0,Finished
A004,Project 11,2000000.0,Failed
A002,Project 12,1000000.0,Ongoing
A003,Project 13,3000000.0,Finished
A005,Project 14,200000.0,Finished

In [20]:
#Task 2 - Fill Missing "Cost" Values

# Initialize running sum and count variables
running_sum, count = 0, 0

# Iterate through each row of the 'Cost' column
for i in range(len(project_df['Cost'])):
    # Check if the current 'Cost' value is NaN (missing)
    if pd.isna(project_df.loc[i, 'Cost']):
        # Replace the missing value with the running average
        project_df.loc[i, 'Cost'] = running_sum / count
    # Update the running sum with the current 'Cost' value
    running_sum += project_df.loc[i, 'Cost']
    # Increment the count of valid entries
    count += 1

# Save the updated DataFrame to a CSV file
project_df.to_csv('project.csv', index=False)

# Open and read the content of the updated CSV file to verify changes
with open('project.csv', 'r') as file:
    # Print the content of the file to view the updated data
    print(file.read())

ID,Project,Cost,Status
A001,Project 1,1002000.0,Finished
A002,Project 2,2000000.0,Ongoing
A003,Project 3,4500000.0,Finished
A004,Project 4,5500000.0,Ongoing
A005,Project 5,3250500.0,Finished
A002,Project 6,680000.0,Failed
A005,Project 7,400000.0,Finished
A003,Project 8,350000.0,Failed
A001,Project 9,2210312.5,Ongoing
A003,Project 10,300000.0,Finished
A004,Project 11,2000000.0,Failed
A002,Project 12,1000000.0,Ongoing
A003,Project 13,3000000.0,Finished
A005,Project 14,200000.0,Finished

In [22]:
# Task 3 - Split the name column in the Employee dataframe into two new columns “First Name”,and “LastName” and remove the older “name” column.

# Load updated Employee DataFrame
employee_df = pd.read_csv('employee.csv')

# Display the updated DataFrame
print("Updated Employee DataFrame (Name Split into First Name and Last Name):")
print(employee_df)

Updated Employee DataFrame (Name Split into First Name and Last Name):
     ID             Name Gender      City  Age
0  A001       John Alter      M     Paris   25
1  A002  Alice Luxumberg      F    London   27
2  A003    Tom Sabestine      M    Berlin   29
3  A004       Nina Adgra      F  New York   31
4  A005        Amy Johny      F    Madrid   30

In [24]:
#Task 4 -Join all three dataframes in one single dataframe. Name it “Final”

# Load the Final DataFrame
final_df = pd.read_csv('final.csv')

# Display the DataFrame
print("Final DataFrame (All Tables Joined):")
print(final_df)

Final DataFrame (All Tables Joined):
      ID     Project       Cost    Status      City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished     Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing    London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished    Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  New York   31   Mrs. Nina
4   A005   Project 5  3250500.0  Finished    Madrid   30    Mrs. Amy
5   A002   Project 6   680000.0    Failed    London   27  Mrs. Alice
6   A005   Project 7   400000.0  Finished    Madrid   30    Mrs. Amy
7   A003   Project 8   350000.0    Failed    Berlin   29     Mr. Tom
8   A001   Project 9  2210312.5   Ongoing     Paris   25    Mr. John
9   A003  Project 10   300000.0  Finished    Berlin   29     Mr. Tom
10  A004  Project 11  2000000.0    Failed  New York   31   Mrs. Nina
11  A002  Project 12  1000000.0   Ongoing    London   27  Mrs. Alice
12  A003  Project 13  3000000.0  Finished    Berlin   29     Mr. Tom
13  A005  Project 14   200000.0  Finished    Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  0       0.0
4       Johny                  0  162525.0
5   Luxumberg                  3       0.0
6       Johny                  0   20000.0
7   Sabestine                  4       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Adgra                  1       0.0
11  Luxumberg                  2       0.0
12  Sabestine                  3  150000.0
13      Johny                  0   10000.0

In [26]:
#Task 5 -Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project cost only to employees who have finished the projects.

final_df['Bonus'] = final_df.apply(lambda row: 0.05 * row['Cost'] if row['Status'] == 'Finished' else 0, axis=1)
final_df.to_csv('final.csv', index=False)

# Display the updated DataFrame to see the 'Bonus' column
print(final_df[['ID', 'Project', 'Cost', 'Status', 'Bonus']].head())

     ID    Project       Cost    Status     Bonus
0  A001  Project 1  1002000.0  Finished   50100.0
1  A002  Project 2  2000000.0   Ongoing       0.0
2  A003  Project 3  4500000.0  Finished  225000.0
3  A004  Project 4  5500000.0   Ongoing       0.0
4  A005  Project 5  3250500.0  Finished  162525.0

In [42]:
#Task 6 Demote the designation level by 1, whose projects have status “fail”. Delete the employees record whose designation level is above 4.

# Demote designation level for failed projects
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] += 1

# Remove records with designation level > 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Save and display the updated Final DataFrame
final_df.to_csv('final.csv', index=False)
print(final_df)

      ID     Project       Cost    Status      City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished     Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing    London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished    Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  New York   31   Mrs. Nina
4   A005   Project 5  3250500.0  Finished    Madrid   30    Mrs. Amy
6   A005   Project 7   400000.0  Finished    Madrid   30    Mrs. Amy
8   A001   Project 9  2210312.5   Ongoing     Paris   25    Mr. John
9   A003  Project 10   300000.0  Finished    Berlin   29     Mr. Tom
10  A004  Project 11  2000000.0    Failed  New York   31   Mrs. Nina
11  A002  Project 12  1000000.0   Ongoing    London   27  Mrs. Alice
12  A003  Project 13  3000000.0  Finished    Berlin   29     Mr. Tom
13  A005  Project 14   200000.0  Finished    Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                 -1       0.0
4       Johny                 -1  162525.0
6       Johny                 -1   20000.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Adgra                  4       0.0
11  Luxumberg                  2       0.0
12  Sabestine                  3  150000.0
13      Johny                 -1   10000.0

In [44]:
#Task 7 Add “Mr.” and “Mrs.” to the first name column and drop the gender column.

# Check if the 'Gender' column exists in the DataFrame to avoid errors.
if 'Gender' in final_df.columns:
    # Update the 'First Name' column by applying a lambda function to add 'Mr.' for male and 'Mrs.' for female.
    final_df['First Name'] = final_df.apply(
        lambda row: ('Mr. ' if row['Gender'] == 'M' else 'Mrs. ') + row['First Name'], axis=1
    )
    
    # Drop the 'Gender' column from the DataFrame since it's no longer needed.
    final_df.drop('Gender', axis=1, inplace=True)
    
    # Save the updated DataFrame to the CSV file 'final.csv', excluding the index column.
    final_df.to_csv('final.csv', index=False)
    
    # Print the updated DataFrame to verify the changes.
    print(final_df)
else:
    # If the 'Gender' column is missing, display a message to recreate the DataFrame.
    print("The 'Gender' column is missing. Recreate the final_df DataFrame.")

The 'Gender' column is missing. Recreate the final_df DataFrame.

In [46]:
#Task 8 Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.
# Promote designation level for employees aged > 29
final_df.loc[final_df['Age'] > 29, 'Designation Level'] -= 1

# Save and display the updated Final DataFrame
final_df.to_csv('final.csv', index=False)
print(final_df)

      ID     Project       Cost    Status      City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished     Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing    London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished    Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  New York   31   Mrs. Nina
4   A005   Project 5  3250500.0  Finished    Madrid   30    Mrs. Amy
6   A005   Project 7   400000.0  Finished    Madrid   30    Mrs. Amy
8   A001   Project 9  2210312.5   Ongoing     Paris   25    Mr. John
9   A003  Project 10   300000.0  Finished    Berlin   29     Mr. Tom
10  A004  Project 11  2000000.0    Failed  New York   31   Mrs. Nina
11  A002  Project 12  1000000.0   Ongoing    London   27  Mrs. Alice
12  A003  Project 13  3000000.0  Finished    Berlin   29     Mr. Tom
13  A005  Project 14   200000.0  Finished    Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                 -2       0.0
4       Johny                 -2  162525.0
6       Johny                 -2   20000.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Adgra                  3       0.0
11  Luxumberg                  2       0.0
12  Sabestine                  3  150000.0
13      Johny                 -2   10000.0

In [48]:
#Task 9 Add the cost of all projects for each Employee and save it in new dataframe “TotalProjCost” with three columns ID, First Name, and Total cost

# Group by 'ID' and 'First Name' to calculate total project cost
total_proj_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_proj_cost.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Save and display the Total Project Cost DataFrame
total_proj_cost.to_csv('total_proj_cost.csv', index=False)
print(total_proj_cost)

     ID  First Name  Total Cost
0  A001    Mr. John   3212312.5
1  A002  Mrs. Alice   3000000.0
2  A003     Mr. Tom   7800000.0
3  A004   Mrs. Nina   7500000.0
4  A005    Mrs. Amy   3850500.0

In [50]:
#Task 10 Print all the employee details whose city name contains the letter “o” in it.
employees_with_o = final_df[final_df['City'].str.contains('o', case=False)]

# Save and display the filtered DataFrame
employees_with_o.to_csv('employees_with_o.csv', index=False)
print(employees_with_o)

      ID     Project       Cost   Status      City  Age  First Name  \
1   A002   Project 2  2000000.0  Ongoing    London   27  Mrs. Alice
3   A004   Project 4  5500000.0  Ongoing  New York   31   Mrs. Nina
10  A004  Project 11  2000000.0   Failed  New York   31   Mrs. Nina
11  A002  Project 12  1000000.0  Ongoing    London   27  Mrs. Alice

    Last Name  Designation Level  Bonus
1   Luxumberg                  2    0.0
3       Adgra                 -2    0.0
10      Adgra                  3    0.0
11  Luxumberg                  2    0.0